<!DOCTYPE html>
<html>
<head>
  <title>Posts: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body style="background: #EEEEEE;">

<p class="notice"><%= notice %></p>

<%= yield %>

</body>
</html>
